////////////////////////////////////////////
//
// ITEM BAR
//
////////////////////////////////////////////

.sidebar-item-bar {
  width: 0;
  color: white;
.btn-box-item {}

  .item-bar-title,
  .btn-item,
  .btn-sub-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 273px;
    font-family: "Arial Black", "Gadget", "sans-serif";
  }

  .item-bar-title {
    height: 56px;

    .title {
      font-size: 20px;
    }
  }

  .btn-item,
  .btn-sub-item {
    height: 50px;
    font-size: 16px;
    cursor: pointer;
    transition: height .35s ease-in-out, opacity .35s ease-in-out;
  }

  .btn-item {
    font-size: 16px;
  }

  .btn-sub-item {
    font-size: 14px;
  }
}

.slide-out {
  height: 0 !important;
  opacity: 0;
}
