////////////////////////////////////////////
//
// BUTTON TOOLS
//
////////////////////////////////////////////

.btn-close,
.btn-item {
  display: flex;
  justify-content: center;
  align-items: center;
  left: 11px;
  width: 40px;
  height: 40px;
  font-size: 30px;
  font-family: "Arial Black", "Gadget", "sans-serif";
  cursor: pointer;
}
.sidebar-tool-bar{
  .btn-close{
     display: flex;
     align-items: flex-end;
   }
}

