/////////////////////////////////
//
// CLASSIC THEME
//
/////////////////////////////////
@dark-grey: #25282f;
@dark-grey-light: #282c34;

@white-grey: #333944;
@light-white-grey: #4b5361;
@light-blue-grey: #3a3f4a;

@black-grey: #242222;





/////////////////////////////////
//
// SPECTRE THEME
//
/////////////////////////////////
@black: black;
@dark-violet-light: #25032f;

@white-violet: #682c7b;
@light-white-violet: #B88AC6;


@light-violet: #460659;