<div class="quote-container">
    <div class="layout-quote-a">
        <div class="quota-item">35.6</div>
        <div class="quota-item">35.6</div>
        <div class="quota-item">35.6</div>
        <div class="quota-item">35.6</div>
        <div class="quota-item">35.6</div>
        <div class="quota-item">35.6</div>
        <div class="quota-item">35.6</div>
    </div>
    <div class="layout-quote-b">
        <div class="quota-item">35.6</div>
        <div class="quota-item">35.6</div>
        <div class="quota-item">35.6</div>
        <div class="quota-item">35.6</div>
        <div class="quota-item">35.6</div>
        <div class="quota-item">35.6</div>
        <div class="quota-item">35.6</div>
        <div class="quota-item">35.6</div>
        <div class="quota-item">35.6</div>
        <div class="quota-item">35.6</div>
        <div class="quota-item">35.6</div>
        <div class="quota-item">35.6</div>
        <div class="quota-item">35.6</div>
        <div class="quota-item">35.6</div>
    </div>
    <div class="layout-quote-c">
        <div class="quota-item">35.6</div>
        <div class="quota-item">35.6</div>
        <div class="quota-item">35.6</div>
        <div class="quota-item">35.6</div>
        <div class="quota-item">35.6</div>
        <div class="quota-item">35.6</div>
        <div class="quota-item">35.6</div>
    </div>
</div>

